<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.BrianStrom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainGameMenu"></activity>
        <activity android:name=".mind_num_reader" />
        <activity android:name=".more_games" />
        <activity android:name=".userprofile"/>
        <activity android:name=".Instructions"/>
        <activity android:name=".Score"/>
        <activity android:name=".observe02"/>
        <activity android:name=".observe03"/>
        <activity android:name=".observe04"/>
        <activity android:name=".observe05"/>
        <activity android:name=".observe06"/>
        <activity android:name=".land_on_page"/>
        <activity android:name=".FlagGame" />
        <activity android:name=".bonus_game" />
        <activity android:name=".settings" />
        <activity android:name=".observe01"/>
        <activity android:name=".observation_level"/>
        <activity android:name=".bonusLevel" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>